<%- include('./header.ejs') %>


<!-- blog heading start -->
<div class="container" style="margin-top: 150px;margin-bottom:20px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Blog List
            </h1>
        </div>
    </div>
  </div>
  <!-- blog heading is end -->
  <!-- blog card section is start -->
<div class="container" id="main-card-section">
    <div class="row" id="main-card-row">
      <% d.forEach((item)=>{ %>
        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img src="<%= item.image.url %>" alt="image" width="100%" class="card-img">
            <p class="p-card-section"><%= item.createdAt.toLocaleDateString() %></p>
            <h4 class="h4-card-section"><%= item.title %></h4>
            <p class="p-card-section"><%= item.description.slice(0,70) %></p>
            <a href="/detail/<%= item._id %>"><button class="button-card-section">read more</button></a>
          </div>
        </div>
      <% }) %>
      
      <!-- <div class="col-md-4 mt-5">
        <div class="card shadow-lg h-100">
          <img src="./images/asset 3.jpeg" alt="image" width="100%" class="card-img">
          <p class="p-card-section">SHIVANI , 5/10/2023</p>
          <h4 class="h4-card-section">news title goes here</h4>
          <p class="p-card-section">description goes here</p>
          <button class="button-card-section">read more</button>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card shadow-lg h-100">
          <img src="./images/asset 4.png" alt="image" width="100%" class="card-img">
          <p class="p-card-section">VIKAS , 5/8/2023</p>
          <h4 class="h4-card-section">BJP moves EC, seeks action against Cong, Sonia over Karnataka 'sovereignty'</h4>
          <p class="p-card-section">Karnataka Elections 2023 News Live Updates (May 8): The Bharatiya Janata Party (BJP) on Monday filed</p>
          <button class="button-card-section">read more</button>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card shadow-lg h-100">
          <img src="./images/asset 5.png" alt="image" width="100%" class="card-img">
          <p class="p-card-section">ADMIN , 5/8/2023</p>
          <h4 class="h4-card-section">IAF's MiG-21 crashes near Hanumangarh in Rajasthan; three villagers killed, pilot safe</h4>
          <p class="p-card-section">NEW DELHI: A MiG 21 fighter aircraft of the Indian A .. Read more at: http://timesofindia.indiat</p>
          <button class="button-card-section">read more</button>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card shadow-lg h-100">
          <img src="./images/asset 6.png" alt="image" width="100%" class="card-img">
          <p class="p-card-section">VIKAS JAIN , 5/8/2023</p>
          <h4 class="h4-card-section">22 dead, many missing after boat capsizes in Kerala’s Malappuram</h4>
          <p class="p-card-section">Kerala Boat tragedy: A tourist boat overturned in the river late on Sunday night nea</p>
          <button class="button-card-section">read more</button>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card shadow-lg h-100">
          <img src="./images/asset 7.png" alt="image" width="100%" class="card-img">
          <p class="p-card-section">VIKAS JAIN , 5/8/2023</p>
          <h4 class="h4-card-section">The Kerala Story box office collection Day 3: Sudipto Sen’s film soon to join Rs 40 crore club</h4>
          <p class="p-card-section">The Kerala Story box office collection Day 3: Since the film opened in theatres this week, The Keral</p>
          <button class="button-card-section">read more</button>
        </div>
      </div> -->
    </div>
  </div>
  <br>
  <br>
  <br>
  
  <!-- blog card is end -->

  <%- include('./footer.ejs') %>