<%- include('../../header.ejs') %>



<!-- hero section start -->
<div class="container-fluid" style="margin-top: 200px; margin-bottom: 300px;">
    <div class="row">
      <%- include('../sidebar.ejs') %>
        <div class="col-md-9">
            <h1><b>BLOG</b></h1>
            
            <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#aa"
                style="margin: 20px 0px;">
                ADD blog</button>
           <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>#ID</th>
                <th>Category</th>
                <th>title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <% b.forEach((item)=>{ %>
              <tr>
                <td><%= item._id %></td>
                <td><%= item.cname %></td>
                <td><%= item.title %></td>
                <td><%= item.description %></td>
                <td><img src="<%= item.image.url %>" alt="" width="100"></td>
                <td>
                  <a href="/blogView/<%= item._id %>" class="btn btn-info">View</a>
                  <a href="/blogEdit/<%= item._id %>" class="btn btn-primary">Edit</a>
                  <a href="/blogDelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% }) %>
            
           </table> 
        </div>
    </div>

  </div>
  <!-- hero section is end-->

  <!--post  Modal -->
  <div
  class="modal fade"
  id="aa"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aa">Add blog</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <form action="/bloginsert" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="">Select Category</label>
          <select name="category" id="" class="form-control">
            <option value="">Select Category</option>
            <% c.forEach((item)=>{ %>
              <option value="<%= item.cname %>"><%= item.cname %></option>
            <% }) %>
          </select>
          <label for="">Title</label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea name="description" id="" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="">image</label>
          <input type="file" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-info">submit</button>
      </form>
    </div>
  </div>
</div>



<%- include('../../footer.ejs') %>