<%- include('../../header.ejs') %>



<!-- hero section start -->
<div class="container-fluid" style="margin-top: 200px; margin-bottom: 300px;">
    <div class="row">
      <%- include('../sidebar.ejs') %>
        <div class="col-md-9">
            <h1><b>BLOG </b></h1>
            
            <!-- <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#aa"
                style="margin: 20px 0px;">
                ADD blog</button> -->
           <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>#ID</th>
                <th>Category</th>
                <th>title</th>
                <th>Description</th>
                <th>image</th>
                
              </tr>
            </thead>
            
              <tr>
                <td><%= d._id %></td>
                <td><%= d.cname %></td>
                <td><%= d.title %></td>
                <td><%= d.description %></td>
                <td><img src="<%= d.image.url %>" alt="" width="100"></td>
               
              </tr>
            
            
           </table> 
        </div>
    </div>

  </div>
  <!-- hero section is end-->

  <!--post  Modal -->
<%- include('../../footer.ejs') %>